BASE_URL_INTEGRALFIUNI="https://integral.fiuni.edu.py/api/"

SSH_PASSWORD=""               # Contraseña del contenedor SSH. Vacía = sin contraseña

DEBUG_MODE="1"                # 1 para activar el modo debug, cualquier otro valor para desactivarlo
MAIL="tu@fiuni.edu.py"        # solo se utiliza con el debug mode activado       
PASSWORD="tu_contrasenha"     # solo se utiliza con el debug mode activado