# Entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Herramientas de calidad / testing
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# IDE y editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs y temporales
*.log
*.tmp
*.temp

host_key
host_key.pub