Port 2222

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

PermitRootLogin no
PubkeyAuthentication no
PasswordAuthentication yes
KbdInteractiveAuthentication no
PermitEmptyPasswords yes
UsePAM no

X11Forwarding no
AllowTcpForwarding no
PermitTTY yes
PrintMotd no

ForceCommand /app/run_tui.sh
